<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  	
  </appSettings>
  
  <connectionStrings>
  	<!-- <add name="ApplicationDb" connectionString="Server=localhost;Database=RegistroIngresosEgresos;Uid=root;Pwd=password;" /> !-->
  	<add name="ApplicationDb" connectionString="Server=localhost;Database=NOMINA.FDB;user=SYSDBA;password=masterkey;" />
  </connectionStrings>
</configuration>
